.main_content {
    width: 100%;
    height:100%;
    background: $primary_color;
}

.main_entry {
    padding: 5px;
    color: $expanse_color;
}

.form_holder {
    width:100%;
    margin-top: 7px;

    @include mobile {
        display: none;
    }
}

.general_content {
    width:100%;
    display:flex;
    flex-direction:row;
    -webkit-flex-direction: row;
    display: -webkit-flex;

    @include mobile {
        height: 100%;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

    @include reverse_mobile {
        height: 350px;
    }
}

.inside_gen_content {
    flex-grow: 1;
    height: 100%;
    padding-bottom: 5%;

    @include mobile {
        border-bottom: $primary_border;
    }
}

.more_info {
    width: fit-content;
    padding: 10px 20px;
    @include mobile {
        display: none;
    }
}

.example {
    @include reverse_tablet {
        height: 500px;
    }
    @include tablet {
        height: 560px;
    }
}

.flex_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex_item {
    flex-grow: 1;
}

.example_item {
    border: $primary_border;
    font-family: $content_font;
    margin: 1%;

    @include mobile {
        width:90%;
        margin:5%;
        height:33%;
    }
    @include reverse_mobile {
        width: 27%;
    }
}

.text_wrap_minimum {
     width:90%;
     margin: 0 auto;

     @include mobile {
         padding-bottom: 5%;
     }
}
